<div class="w-75 mx-auto py-4">
  <h4>Register Now : </h4>

  <div *ngIf="apiError" class="alert alert-danger">
    {{apiError}}
  </div>
  <form [formGroup]="registerForm"  (ngSubmit)="handleRegister(registerForm)">
    <label for="name">Name : </label>
    <input formControlName="name" type="text" class="form-control my-2" id="name">
    <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('name')?.getError('minlength')" class="m-0">Name Minimum Length is 3 </p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="m-0">Name Maximum Length is 10 </p>
      <p *ngIf="registerForm.get('name')?.getError('required') " class="m-0"> Name is Requierd </p>
    </div>

    <label for="email">Email : </label>
    <input formControlName="email" type="email" class="form-control my-2" id="email">
    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('email')?.getError('email')" class="m-0">Email is Not Valid </p>
      <p *ngIf="registerForm.get('email')?.getError('required') " class="m-0"> Email is Requierd </p>
    </div>

    <label for="password">Password : </label>
    <input formControlName="password" type="password" class="form-control my-2" id="password">
    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('password')?.getError('pattern')" class="m-0">Password Is Not Valid : Should start with Upper case Letter an contain atleast 6 charcter </p>
      <p *ngIf="registerForm.get('password')?.getError('required') " class="m-0"> Password is Requierd </p>
    </div>

    <label for="rePassword">RePassword : </label>
    <input formControlName="rePassword" type="password" class="form-control my-2" id="rePassword">
    <div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="m-0">RePassword Is Not Valid : Should start with Upper case Letter an contain atleast 6 charcter </p>
      <p *ngIf="registerForm.get('rePassword')?.getError('required') " class="m-0"> RePassword is Requierd </p>
    </div>

    <label for="phone">Phone : </label>
    <input formControlName="phone" type="tel" class="form-control my-2" id="phone">
    <div *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched" class="alert alert-danger">
      <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="m-0">phone Is Not Valid : Should start with 010, 011, 012, 015 </p>
      <p *ngIf="registerForm.get('phone')?.getError('required') " class="m-0"> phone is Requierd </p>
    </div>

    <button [disabled]="registerForm.invalid" class="btn d-block ms-auto bg-main border-0 text-white mt-3" style="width: 15%;" type="submit">
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading"> Register Now</span>
    </button>
  </form>
</div>
